@import "../src/styles";

.admin-component{
  .container-list{
    height: auto;
    overflow: auto;
  }

  .mat-mdc-card-subtitle{
    margin-top: -1.8em;
    margin-left: 1em;
  }

  .container-form{
    border-radius: 15px;
    height: calc(100vh - 125px);
    @media (max-width: 768px) {
      margin-top: 2em;
    }
  }
}
