@import "../src/styles";

.user-component{
  .container-list{
    height: auto;
    overflow: auto;
  }

  .mat-mdc-card-subtitle{
    margin-top: -1.8em;
    margin-left: 1em;
  }

  .container-form{
    border-radius: 15px;
    height: calc(100vh - 125px);
    @media (max-width: 768px) {
      margin-top: 2em;
      height: auto;
    }
  }

  .mat-mdc-list-item-title{
    margin-top: 11px;
  }

  .status-enabled{
    color: green;
  }

  .status-disabled{
    color: red;
  }

  .table-container{
    border-radius: 15px;
    padding: 1em;
    height: calc(100vh - 220px);
    .table-container__title{
      background-color: $label-color;
      border-radius: 25px;
      padding: 5px;
      display: flex;
      align-items: center;
      h1{
        color: white;
        font-weight: bold;
        margin: 0 0 0 .5em;
        font-size: 1.2rem;
      }
    }
    @media (max-width: 768px) {
      height: auto;
      overflow: auto;
    }
  }

  .text-truncate{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
  }

  .center-cell {
    text-align: center;
  }

  .tbl-icon{
    color: $label-color;
    cursor: pointer;
  }

  .date-column{
    width: 31%;
  }
}
