<div class="comments-component">
  <h2 mat-dialog-title>Comentarios</h2>
  <mat-dialog-content>
    <div class="comments-container">
      <mat-list>
        @for (item of data; track item) {
          <mat-list-item
            class="mat-elevation-z1 list-comments">
            <div class="d-flex align-items-center">
              <div class="comment_icon">
                <mat-icon>person</mat-icon>
              </div>
              <div class="ms-2">
                <span class="comment_username" matListItemTitle>{{ item.usuario.username }}</span>
                <span class="comment_date" matListItemLine>{{ item.commentDate | date: 'dd/MM/yyyy HH:mm'}}</span>
              </div>
              <div class="w-100 d-flex justify-content-end">
                <mat-icon matTooltip="Eliminar"
                          (click)="onDelete(item.id)"
                          class="btn-delete">delete</mat-icon>
              </div>
            </div>
            <div  class="comment_description mb-4">
                 <span>
                   {{ item.description }}
                 </span>
            </div>


          </mat-list-item>
        }
      </mat-list>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Cerrar</button>
  </mat-dialog-actions>
</div>
