<div class="publication-component layout-general">
  <div class="general-container row">
    <div class="container-list col-lg-4 component-list">
      <app-search-basic (clearSearch)="clearSearch()"
                        (submitSearch)="onSubmitSearch()"
                        [formGroup]="formSearch"
                        [titleSearch]="'Buscar Publicación'">
      </app-search-basic>
      <mat-list class="list-crud">
        @for (item of list; track item) {
          <mat-list-item
            class="mat-elevation-z1"
            (click)="loadForm(item.id)"
            [ngClass]="{'item-selected': item?.id === itemSelected}">
            <div class="d-flex item-content">
              <div>
                <div matListItemTitle>{{ item.id }}</div>
                <div matListItemLine class="text-truncate__item">{{ item.description }}</div>
              </div>
              <div class="w-100 d-flex justify-content-end">
                <button type="button" mat-icon-button class="btn-list-delete state danger-color"
                        (click)="onDelete(item)" matTooltip="Eliminar">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </div>
          </mat-list-item>
        }
      </mat-list>
    </div>
    <mat-card class="container-form col-lg-8">
      <form [formGroup]="form">
        <mat-card-header>
          <h1>Publicación</h1>
        </mat-card-header>
        <mat-card-subtitle>
          <h3>{{ title }}</h3>
        </mat-card-subtitle>
        <mat-card-content>
          <div class="row">
            <mat-form-field class="col-sm-8"ssss>
              <mat-label>Descripción</mat-label>
              <textarea cdkTextareaAutosize
                        readonly
                        matInput
                        id="description"
                        formControlName="description">
            </textarea>
            </mat-form-field>
            <mat-form-field class="col-sm-4">
              <mat-label>Fecha de creación</mat-label>
              <input readonly formControlName="publicationDate" matInput type="text">
            </mat-form-field>
            <div class="post-container col-sm-6">
              @if (this.imagePath){
                <div class="img-container">
                  <img mat-card-image [src]="imagePath" alt="image post">
                </div>
              }
            </div>
            <div class="col-sm-6">
              <div class="p-2">
                <div class="likes col-12 animate__animated  animate__backInRight">
                  <div>
                    <mat-icon>thumb_up</mat-icon>
                  </div>
                  <span>Likes: </span>
                  <div class="w-100 d-flex justify-content-end me-4">
                    <span class="likes__count">{{likesLength}}</span>
                  </div>
                </div>
                <div (click)="openDialogComments()" class="comments col-12 animate__animated  animate__backInRight" matTooltip="Ver Comentarios">
                  <div>
                    <mat-icon>comment</mat-icon>
                  </div>
                  <span>Comentarios: </span>
                  <div  class="w-100 d-flex justify-content-end me-4">
                    <span class="likes__count">{{commentsLength}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
